
.message-body{
    word-wrap: break-word;
}
#messages{
    height: 75vh;
    overflow-y: scroll;
    padding-right: 5px;
}
#messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#messages::-webkit-scrollbar
{
    width: 6px;
    margin-left:5px;
	background-color: #F5F5F5;
}
#messages::-webkit-scrollbar-thumb
{
	background-color: #00d1b2;
}
body{
    height: 100vh;
}
#outerdiv{
    margin-top:25px;
}
.main-ad{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 25px;
}