
@font-face {
    font-family: tahoma;
    src: url(../fonts/bpg_tahoma_glaho.ttf);
}

.message-body{
    word-wrap: break-word;
}
#messages{
    height: 75vh;
    overflow-y: scroll;
    padding-right: 5px;
}
#messages::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#messages::-webkit-scrollbar
{
    width: 6px;
    margin-left:5px;
	background-color: #F5F5F5;
}
#messages::-webkit-scrollbar-thumb
{
	background-color: #00d1b2;
}
body:lang(ka){
    height: 100vh;
    font-family:tahoma;
}
#outerdiv{
    margin-top:25px;
}
.main-ad{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 25px;
}
.gif{
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}
.gif img {
    height: 150px;
}

.gif::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.gif::-webkit-scrollbar
{
    width: 10px;
    border-radius:6px;
    margin-top:5px;
	background-color: #F5F5F5;
}
.gif::-webkit-scrollbar-thumb
{
	background-color: #00d1b2;
}

#gifspan {
    pointer-events: all !important;
}

#gifspan > input {
    display: none;
    opacity: 0;
    visibility: hidden;
}

#gifspan .img {
    background-image: url(/static/img/gif.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    background-size: cover;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#gifspan .img:hover {
    opacity: 0.7;
}

#gifspan > input:checked + .img {
    opacity: 1;
}